<!-- {% extends 'base.html' %}

{% block content %}
<html>
  <head>
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>
<div id="table"></div>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
const tableDiv = document.getElementById('table');

const updateUrl = (prev, query) => {
  return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
};

const editableCellAttributes = (data, row, col) => {
    if (row) {
      return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
    }
    else {
      return {};
    }
};
new gridjs.Grid({
  columns: [
    { id: 'student-name', name: 'Student Name' },
    {% for component in components %}
    { id:"{{ component.id }}", name:"{{ component.component_name }}" },
    {% endfor %}
  ],
  data: [
    {% for student in students %}
      {
        name: '{{ student.class_students.full_name }}',
        age: {{ user.age }},
        address: '{{ user.address }}',
        phone: '{{ user.phone }}',
        email: '{{ user.email }}'
      },
    {% endfor %}
  ],
  search: true,
  sort: true,
  pagination: true,
}).render(document.getElementById('table'));
</script>
</html> -->