{% extends "base.html" %}

{% block content %}

<section class="hero is-small has-background-primary-15 has-text-light">
    <div class="hero-body">
        <p class="title has-text-light has-text-centered is-family-monospace">Dashboard</p>
    <p class="subtitle is-6 has-text-light is-family-san-serif has-text-centered">{{classroom_id}}</p>
    
    <p class="is-size-7 is-family-san-serif has-text-right has-text-weight-medium">Instructor: {{classroom_info.teacher}}</p>
    </div>
</section>
<section class="section is-medium">
    
<div class="columns">
    <div class="column is-half">
        {{ fig | safe }}
    </div>
</div>
</section>

{% endblock %}