<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base</title>
  <    <!-- Poppins font import -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <style>
  @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Poppins', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Poppins', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }
  </style>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="/static/images/Heading.png" width="28" height="28">
      </a>
    </div>

    <div class="navbar-menu">

        {% if current_user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Data Entry
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('api.enter_data') }}">
              Literacy
            </a>
            <a class="navbar-item">
              Math
            </a>
            <a class="navbar-item">
              Social Emotional Learning
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
        <a class="navbar-item" href="{{ url_for('api.enter_data')}}">
          Insights
        </a>
        <a class="navbar-item" href="{{ url_for('main.user', username=current_user.username) }}">
          Profile
        </a>
        <a class="navbar-item" href="{{ url_for('main.edit_user', username=current_user.username) }}">
          Edit Profile
        </a>
        <a class="navbar-item" href="{{ url_for('auth.logout') }}">
          Logout
        </a>
        {% else %}
        <a class="navbar-item" href="{{ url_for('main.index') }}">
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

</head>
  {% block content %}
  {% endblock %}

  </body>
</html>