<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student Insights</title>
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css
" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- NAVBAR -->

<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
    <div class="container-fluid">

    <!-- Brand Image -->
    <span class="navbar-brand">
        <img src="/static/images/insights_light.png" alt="Student Insights" width="90" height="25">
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
{% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('api.data_entry_params') }}">
        Data Entry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('api.edit_data_params') }}">
        Edit Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('api.class_dashboard', classroom_id=current_user.get_current_classroom().id) }}"><i class="fa fa-dashboard" aria-hidden="true"></i>
        Insights</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.profile', username=current_user.username) }}">
        Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.edit_profile', username=current_user.username) }}">
        Edit Profile</a>
    </li>
    </ul>
        <a class="btn btn-sm btn-light me-2" type="button" href="{{ url_for('auth.logout') }}">Logout</a>
        <div class="dark-mode-toggle">
            <i id="darkModeIcon" class="bi bi-moon"></i> 
        </div>
        {% else %}
        <button class="btn btn-sm btn-outline-secondary" type="button" href="{{ url_for('auth.register') }}">
        Register</button>
{% endif %}
</div>
    </div>
</nav>
<script>
    document.getElementById('darkModeIcon').addEventListener('click', function () {
    this.classList.toggle('bi-moon');
    this.classList.toggle('bi-sun');
    let theme = document.documentElement.getAttribute('data-bs-theme');
    if (theme === 'dark') {
    document.documentElement.removeAttribute('data-bs-theme');
    } else {
    document.documentElement.setAttribute('data-bs-theme', 'dark');
    }
});
</script>

{% block content %}
{% endblock %}

</body>

</html>